/*
.hidden-entity-links > i {
  border-radius: 0;
  width: 8px;
  height: 8px;
  margin-left: 2px;
  margin-right: 2px;
  margin: auto 2px auto 2px;
}

.hidden-entity-links .fa-lightbulb {
    color:darkRed;
    text-shadow: 0 0 8px darkRed;
}
*/
