.hidden-entity-links {
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 10px,
    rgba(255, 255, 0, 0.2) 10px,
    rgba(255, 255, 0, 0.2) 20px
  ) !important;
}

.hidden-entity-links-scene {
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 10px,
    rgba(255, 255, 0, 1) 10px,
    rgba(255, 255, 0, 1) 20px
  ) !important;
  max-width: max-content;
  margin: auto 5px;
  line-height: initial;
  display: block ruby;
  height: 100%;
}

.hidden-entity-links-scene .fa-lightbulb {
  color: transparent;
  text-shadow: 0 0 8px transparent;
}
